# required for recalbox squashfs                                                                                                                                                                             
CONFIG_NLS_ISO8859_1=y                                                                                                                                                                                       
CONFIG_SQUASHFS=y                                                                                                                                                                                            
CONFIG_SQUASHFS_LZO=y
CONFIG_OVERLAY_FS=y                                                                                                                                                                                          
CONFIG_BLK_DEV_LOOP=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_USB_DWC2=m
