# CONFIG_LOGO is not set

# required for recalbox squashfs
CONFIG_NLS_ISO8859_1=y
CONFIG_SQUASHFS=y
CONFIG_OVERLAY_FS=y
CONFIG_BLK_DEV_LOOP=y

# add some joystick support
CONFIG_JOYSTICK_COBRA=m
CONFIG_JOYSTICK_SPACEBALL=m
CONFIG_JOYSTICK_PXRC=m
CONFIG_HID_ICADE=m
CONFIG_HID_MAYFLASH=m
CONFIG_HID_RETRODE=m
CONFIG_HID_SAITEK=m
CONFIG_HID_STEELSERIES=m

# enable force feedback
CONFIG_HID_ACRUX_FF=y
CONFIG_DRAGONRISE_FF=y
CONFIG_HOLTEK_FF=y
CONFIG_PANTHERLORD_FF=y
CONFIG_GREENASIA_FF=y
CONFIG_SMARTJOYPLUS_FF=y
CONFIG_THRUSTMASTER_FF=y
CONFIG_ZEROPLUS_FF=y

