# Use config: rk3399_linux_defconfig

# CPU automatic hotplug feature based on load
# Disabled - This is no longer preferred - it saves very little power but at the cost of performance
# CONFIG_STATE_NOTIFIER=y
# CONFIG_HIMA_HOTPLUG=y

# Set default CPU governor to on-demand (default is performance)
CONFIG_CPU_FREQ_DEFAULT_GOV_MRFIXEDFREQ12=n
CONFIG_CPU_FREQ_DEFAULT_GOV_MRFIXEDFREQ13=n
CONFIG_CPU_FREQ_DEFAULT_GOV_MRFIXEDFREQ14=n
CONFIG_CPU_FREQ_DEFAULT_GOV_MRFIXEDFREQ15=n
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_USERSPACE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_DEFAULT_GOV_CONSERVATIVE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_INTERACTIVE=n
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=n

