# Nintendo
snes=/recalbox/share/shaders/scanline.glslp
nes=/recalbox/share/shaders/scanline.glslp
n64=/recalbox/share/shaders/scanline.glslp
gba=/recalbox/share/shaders/scanline.glslp
gb=/recalbox/share/shaders/scanline.glslp
gbc=/recalbox/share/shaders/scanline.glslp
fds=/recalbox/share/shaders/scanline.glslp
virtualboy=/recalbox/share/shaders/scanline.glslp
nds=/recalbox/share/shaders/crt-caligari.glslp
pokemini=/recalbox/share/shaders/scanline.glslp
satellaview=/recalbox/share/shaders/scanline.glslp
sufami=/recalbox/share/shaders/scanline.glslp
# Sega
sg1000=/recalbox/share/shaders/scanline.glslp
mastersystem=/recalbox/share/shaders/scanline.glslp
megadrive=/recalbox/share/shaders/scanline.glslp
gamegear=/recalbox/share/shaders/scanline.glslp
sega32x=/recalbox/share/shaders/scanline.glslp
segacd=/recalbox/share/shaders/scanline.glslp
dreamcast=/recalbox/share/shaders/scanline.glslp
saturn=/recalbox/share/shaders/scanline.glslp
# Arcade
atomiswave=/recalbox/share/shaders/scanline.glslp
naomi=/recalbox/share/shaders/scanline.glslp
naomigd=/recalbox/share/shaders/scanline.glslp
neogeo=/recalbox/share/shaders/scanline.glslp
neogeocd=/recalbox/share/shaders/scanline.glslp
mame=/recalbox/share/shaders/scanline.glslp
fba=scanlines
fbneo=/recalbox/share/shaders/scanline.glslp
#
ngp=/recalbox/share/shaders/scanline.glslp
ngpc=/recalbox/share/shaders/scanline.glslp
gw=/recalbox/share/shaders/scanline.glslp
vectrex=
lynx=/recalbox/share/shaders/scanline.glslp
lutro=/recalbox/share/shaders/scanline.glslp
wswan=/recalbox/share/shaders/scanline.glslp
wswanc=/recalbox/share/shaders/scanline.glslp
pcengine=/recalbox/share/shaders/scanline.glslp
pcenginecd=/recalbox/share/shaders/scanline.glslp
pcfx=/recalbox/share/shaders/scanline.glslp
supergrafx=/recalbox/share/shaders/scanline.glslp
atari2600=/recalbox/share/shaders/scanline.glslp
atari5200=/recalbox/share/shaders/scanline.glslp
atari7800=/recalbox/share/shaders/scanline.glslp
jaguar=/recalbox/share/shaders/scanline.glslp
doom=/recalbox/share/shaders/scanline.glslp
psx=/recalbox/share/shaders/scanline.glslp
colecovision=/recalbox/share/shaders/scanline.glslp
3do=/recalbox/share/shaders/scanline.glslp
intellivision=/recalbox/share/shaders/scanline.glslp
channelf=/recalbox/share/shaders/scanline.glslp
gx4000=/recalbox/share/shaders/scanline.glslp
uzebox=/recalbox/share/shaders/scanline.glslp
palm=/recalbox/share/shaders/scanline.glslp
multivision=/recalbox/share/shaders/scanline.glslp
quake=/recalbox/share/shaders/scanline.glslp
# Computers
msx1=/recalbox/share/shaders/scanline.glslp
msx2=/recalbox/share/shaders/scanline.glslp
msxturbor=/recalbox/share/shaders/scanline.glslp
spectravideo=/recalbox/share/shaders/scanline.glslp
amiga500=/recalbox/share/shaders/scanline.glslp
amiga600=/recalbox/share/shaders/scanline.glslp
amiga1200=/recalbox/share/shaders/scanline.glslp
amigacd32=/recalbox/share/shaders/scanline.glslp
amigacdtv=/recalbox/share/shaders/scanline.glslp
amstradcpc=/recalbox/share/shaders/scanline.glslp
atarist=/recalbox/share/shaders/scanline.glslp
zxspectrum=/recalbox/share/shaders/scanline.glslp
odyssey2=/recalbox/share/shaders/scanline.glslp
zx81=/recalbox/share/shaders/scanline.glslp
c64=/recalbox/share/shaders/scanline.glslp
x1=/recalbox/share/shaders/scanline.glslp
x68000=/recalbox/share/shaders/scanline.glslp
thomson=/recalbox/share/shaders/scanline.glslp
atari800=/recalbox/share/shaders/scanline.glslp
pc88=/recalbox/share/shaders/scanline.glslp
pc98=/recalbox/share/shaders/scanline.glslp
macintosh=/recalbox/share/shaders/scanline.glslp
tic80=/recalbox/share/shaders/scanline.glslp
